* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
main {
	height: 100%;
	width: 100%;
}

body {
	font-family: Poppins, sans-serif;
	font-size: 15px;
	margin: 0;
}

img,
embed,
object,
video,
div {
	max-width: 100%;
}

nav,
a,
button {
	min-width: 48px;
	min-height: auto;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.demo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	width: 375px;
	height: 667px;
}
.display {
	height: 200px;
	width: 100%;
	background-color: #010001;
	color: #999999;
}
.keys {
	display: flex;
	flex-wrap: wrap;
}
.operators {
	display: flex;
	flex-direction: column;
}
.btn {
	border: 1px solid #010001;
}
.aKey {
	composes: btn;
	background-color: #c6c6cb;
}
.aOperator {
	composes: btn;
	background-color: #f68111;
}
