.container {
	display: flex;
}
.inputs {
	display: flex;
	flex-wrap: wrap;
}
.operators {
	display: flex;
	flex-direction: column;
}
.btn {
	display: flex;
	font-weight: 300;
	justify-content: center;
	align-items: center;
	min-width: 80px;
	width: 80px;
	min-height: 80px;
	height: 80px;
	flex-grow: 1;
	cursor: pointer;
	box-shadow: 0 0 0.5px 0 #000;
}
.input {
	composes: btn;
	background-color: #c6c6cb;
}
.operator {
	composes: btn;
	background-color: #f68111;
	color: #fff;
}
.input:hover,
.input:focus {
	background-color: #e3e3e3;
	font-weight: 400;
}
.operator:hover,
.input:focus {
	font-weight: 400;
	background-color: #d56800;
}
.input:active {
	background-color: #bfbfbf;
}
.operator:active {
	background-color: #f79a43;
}

@media all and (max-width: 500px) {
	.container {
		height: 70vh;
	}
	.inputs {
		width: 75vw;
	}
	.operators {
		width: 25vw;
	}
	.btn {
		height: 20%;
	}
	.input {
		width: 33.333%;
	}
	.operator {
		width: 100%;
	}
	.input:hover {
		background-color: #c6c6cb;
	}
	.operator:hover {
		background-color: #f68111;
	}
}
