.container {
	display: flex;
}
.inputs {
	display: flex;
	flex-wrap: wrap;
}
.operators {
	display: flex;
	flex-direction: column;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 80px;
	width: 80px;
	min-height: 80px;
	height: 80px;
	flex-grow: 1;
	cursor: pointer;
	box-shadow: 0 0 0.5px 0 #000;
}
.input {
	composes: btn;
	background-color: #c6c6cb;
}
.operator {
	composes: btn;
	background-color: #f68111;
	color: #fff;
}
