.container {
	height: 160px;
	min-height: 160px;
	width: 100%;
	padding: 30px 10px 0;
	background-color: #010001;
	box-shadow: 0 0 0.5px 0 #000;
	color: #f4f4f4;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.display {
	direction: rtl;
}
.displayAll {
	composes: display;
	overflow-y: hidden;
	overflow-x: scroll;
}
.displayAll::-webkit-scrollbar {
	width: 0 !important;
	display: none;
}

.displayEntry {
	composes: display;
	font-size: 2.5em;
	font-weight: 200;
}

.btn {
	background-color: transparent;
	color: #c6c6cb;
	border: none;
	font-size: 30px;
	align-items: center;
	text-align: center;
	cursor: pointer;
}
